<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>注册</title>
</head>
<body>
<div class="container">
    <div class="col">
        <form class="form-register" action="/register/" method="post">

            {% if register_form.captcha.errors %}
                <div class="alert alert-warning">{{ register_form.captcha.errors }}</div>
            {% elif message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}

            {% csrf_token %}
            <h3 class="text-center">欢迎注册</h3>
            <div class="form-group">
                <label for="id_username">用户名：</label>
                <input type="text" name='username' class="form-control" id="id_username" placeholder="Username"
                       autofocus required>
            </div>
            <div class="form-group">
                <label for="id_password1">密码：</label>
                <input type="password" name='password1' class="form-control" id="id_password1" placeholder="Password"
                       required>
            </div>
            <div class="form-group">
                <label for="id_password2">确认密码：</label>
                <input type="password" name='password2' class="form-control" id="id_password2" placeholder="RePassword"
                       required>
            </div>

            <div class="form-group">
                <label for="id_email">电子邮箱：</label>
                <input type="email" name='email' class="form-control" id="id_email" placeholder="Email"
                       required>
            </div>
            <div class="form-group">
                <a href="/login/">
                    <ins>直接登录</ins>
                </a>
                <button type="submit" class="btn btn-primary float-right">注册</button>
            </div>
        </form>
    </div>
</div> <!-- /container -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#    以下三者的引用顺序是固定的#}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>